h1, p {
    /* border: 1px solid red; */
}

h1 {
    font-size: 85px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
}

.informasjon {
    margin-bottom: 30px;

    color: rgba(0,0,0,0.5);
    font-weight: 500;
}

p {
    width: 75%;
    margin-bottom: 17.5px;
}



/* Erfaring */

.erfaring-modul-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    height: auto;
    min-height: 50px;
    width: 100%;
    max-width: 1250px;

    margin-top: 85px;

}
    .erfaring-main-content {
        width: auto;
        max-width: 1000px;
    }
        .tech-row {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: row;

            height: auto;
            width:  auto;
        }
            .python-logo {
                height: 30px;
                width: 30px;
            }
            .mysql-logo {
                height: 40px;
                width: 70px;
            }
            .workbench-logo {
                height: 30px;
                width: 30px;

                margin-left: 10px;
            }

    .erfaring-sted {
        margin: -12.5px 0px 11px 0px;
        color: rgba(0,0,0,0.5)
    }

    .periode {

    }