h1 {
    font-size: 75px;
}

h2 {
    font-size: 60px;
    color: rgb(10, 102, 194);
}

h3 {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgba(0,0,0,1);
}

.information {
    width: 100%;
    margin-bottom: 15px;

    color: rgba(0,0,0,0.5);
    font-weight: 500;
    font-size: 16.5px;
}

p {
    line-height: 25px;
    width: 75%;
    margin-bottom: 17.5px;
    font-size: 14px;
}

/* About */

.profile-picture {
    height: 190px;
    width:  190px;
    margin-right: 50px;
}

.hide {
    opacity: 0;
}

/* Skills */

.skills-row-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    height: auto;
    width:  auto;
}
    .skills-column-container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;

        height: auto;
        width:  auto;
    }
        .skill-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            
            height: auto;
            width: 400px;

            margin: 0px 30px 30px 0px;
            padding: 12.5px 10px 2.5px 25px;

            background-color: rgb(242,242,242);
            border-radius: 5px;
        }

        .skill-text-container {
            padding-left: 5px;
        }

        .skill-text-container > h4 {
            font-size: 17px;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .skill-text-container > p {
            margin-top: 5px;
            font-size: 13px;
        }
            .skill-icon {
                height: 30px;
                width:  30px;

                margin-left:   5px;
                margin-bottom: 10px;

            }
            .skill-text-container {
                margin: 0px 0px 0px 25px;
            }

.skills-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    height: auto;
    width: auto;

    margin:  0px;
    padding: 0px;
    margin-top: 40px;
}

    .skills-row > img {
        margin-right: 13px;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

    .skill-java {
        height: 67.5px;
        width:  67.5px;
        margin-left: -10px;
    }

    .skill-python {
        height: 55px;
        width:  55px;
    }

    .skill-mysql {
        height: 80px;
        width:  100px;
        margin: 0px;
    }

    .skill-javascript {
        height: 45px;
        width:  45px;
    }

    .skill-react {
        height: 50px;
        width:  50px;
        margin-left: 15px;
    }

    .skill-php {
        height: 67.5px;
        width:  80px;
        transform: scale(1.1);
    }

/* Experience */
.erfaring-modul-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    height: auto;
    min-height: 50px;
    width: 100%;
    max-width: 1000px;

    margin-top: 100px;
}
    .erfaring-main-content {
        width: auto;
        max-width: 725px;
    }
        .github-link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            height: auto;
            width: 55px;

            margin: 0px 27.5px 0px 0px;
            padding: 10px 5px;

            font-size: 10px;
            color: white;
            background-color: rgb(10, 102, 194);
            background-color: rgba(0,0,0,0.5);
            border-radius: 99px;

            cursor: pointer;
            user-select: none;
            text-decoration: none;
            transition: 0.25s;
        }

        .github-link:hover {
            background-color: rgba(0,0,0,1);
            transition: 0.25s;
        }

        .gif {
            border-radius: 3px;
            transition: 0.25s;
        }

        .gif:hover {
            transform: scale(1.25);
        }

        .tech-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;

            height: auto;
            width:  auto;
        }

        .tech-row > img {
            opacity: 0.4;
            transition: 0.25s;
        }

        .tech-row > img:hover {
            opacity: 1;
            transition: 0.25s;
        }

            .python-logo {
                height: 35px;
                width:  35px;
                filter: contrast(100%) grayscale(1);
            }
            .pycharm-logo {
                height: 35px;
                width:  35px;
                margin-top: -5px;
                margin-left: 20px;
                filter: grayscale(1);
            }
            .junit-logo {
                height: 21.5px;
                width:  47.5px;
                margin-left: 20px;
                filter: contrast(150%) grayscale(1);
            }
            .mysql-logo {
                height: 27.5px;
                width:  47.5px;
                margin-right: 3px;
                
                transform: scale(2) translateX(2px);
                filter: grayscale(1);
            }
            .workbench-logo {
                height: 28px;
                width:  28px;
                margin-left: 30px;
                filter: grayscale(1);
            }
            .sqlite-logo {
                height: 25px;
                width:  55px;
                margin-left: 20px;
                filter: contrast(150%) grayscale(1);
            }
            .java-logo {
                height: 42.5px;
                width:  42.5px;
                margin-left: -10px;
                filter: grayscale(1);
            }
            .processing-logo {
                height: 30px;
                width:  35px;
                margin-left: 15px;
                filter: grayscale(1);
            }
            .opencv-logo {
                height: 25px;
                width: 65px;
                filter: grayscale(1);
            }


    .experience-location {
        margin: -12.5px 0px 11px 0px;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
    }

    .period {
        height: auto;
        color: rgba(0,0,0,0.3);
        font-size: 14px;
    }

    .links {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .links > a > img {
            height: 60px;
            width:  60px;
            margin: 0px 10px;
            cursor: pointer;
            transition: 0.1s;
        }

        .links > a > img:hover {
            transform: scale(1.05);
            transition: 0.1s;
        }

        .links > img {
            height: 66px;
            width:  66px;
            margin: 0px 10px;
            cursor: pointer;
            transition: 0.1s;
        }

        .links > img:hover {
            transform: scale(1.05);
            transition: 0.1s;
        }

        #email-phone-section {
            height: 100px;
            width:  400px;
            margin-left: 12.5px;
            font-size: 20px;
        }