* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 13.5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.25); 
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.35); 
}


body {
    display: flex;
    flex-direction: row;
}
    aside {
        display: flex;
        flex-direction: column;

        height: auto;
        width: 300px;
        min-width: 250px;

        background-color: rgb(255,255,255);
        transition: 1.5s;
    }
        .menu {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            font-size: 17.5px;
            padding-left: 70px;
        }
            .menu > div {
                height: auto;
                width: auto;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;

                margin-bottom: 15px;
            }
                .menu > div > span {
                    margin-left: 15px;
                    font-size: 14px;
                    color: rgb(10, 102, 194);
                    transition: 0.25s;

                    user-select: none;
                }
                .menu-item {
                    height: auto;
                    width: auto;

                    color: rgb(25,25,25);
                    margin: 0px;
                    padding: 5px 10px;
                    
                    background-color: rgb(245,245,245);
                    border-radius: 5px;

                    font-size: 14px;

                    cursor: pointer;
                    transition: 0.25s;

                    user-select: none;
                }
                .menu-item:hover {
                    color: white;
                    background-color: rgb(10, 102, 194);
                    transition: 0.1s;
                }


    body > section {
        display: flex;
        flex-direction: column;

        height: auto;
        max-height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;

        width: 100%;
    }
        main {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            height: 100vh;
        }
            .content {
                display: block;
                height: 1000px;
            }
                .segment {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;

                    height: auto;
                    min-height: 70vh;
                    
                    padding: 100px 0px;
                    padding-left: 100px;

                    transition: 0.75s;
                }